# HW7 (total points 6)

# Use pandas to complete the problems in this notebook.

https://pandas.pydata.org/pandas-docs/stable/reference/index.html

Total points 6

In [2]:
import numpy as np
import pandas as pd
#you may want to import some other modules here such as seaborn or matplotlib

In [1]:
from io import BytesIO
from zipfile import ZipFile
import requests

**Let download movie lense dataset [MovieLens](https://grouplens.org/datasets/movielens/) and extract zip file using various python packages**

http://files.grouplens.org/datasets/movielens/ml-latest-small.zip

In [4]:
r = requests.get("http://files.grouplens.org/datasets/movielens/ml-latest-small.zip")
print(r.status_code)
zipfile = ZipFile(BytesIO(r.content))

200

In [5]:
zipfile.extractall()

In [38]:
! ls ml-latest-small/

links.csv  movies.csv  ratings.csv  README.txt	tags.csv

In [96]:
! head  ./ml-latest-small/movies.csv

movieId,title,genres

1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy

2,Jumanji (1995),Adventure|Children|Fantasy

3,Grumpier Old Men (1995),Comedy|Romance

4,Waiting to Exhale (1995),Comedy|Drama|Romance

5,Father of the Bride Part II (1995),Comedy

6,Heat (1995),Action|Crime|Thriller

7,Sabrina (1995),Comedy|Romance

8,Tom and Huck (1995),Adventure|Children

9,Sudden Death (1995),Action

**It is a csv file.** We can use pandas read_csv to read this file into pandas DataFrame

In [94]:
# lets read movies.csv file
movie = pd.read_csv('./ml-latest-small/movies.csv')

movie.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

# Q1 (.25 point) Check if any of the columns are null

In [2]:
# write pandas code here

# Q 2 (.25 point) Check datatype of each of the columns

In [1]:
# write pandas code here

# Q3 (.5 point) Using *str* on series genres, build the unique_genre set. It should contain all the unique genres from genres column. Print unique genres too.

In [23]:
# write pandas code here
unique_genre = ???

# Q 4 (1 point) Build columns for different genres with value True or False based on whether a genre is present or not in an observation?

In [3]:
# write pandas code here

# Q5(1 point) Build a "year" column in movie data frame. The title "year" should be included in title column.

Python regular expression  package **re** is very useful tool for text data handling.  This excercise is a very primitive use of it.


note
- . mean any character
- *. means "0 or more instances of the preceding regex token
- \[ matches a literal [ character
- [A-Za-z0-9] digits and lower, upper case, I think same as \w+
- '+' matches one more more times
- \d Matches any decimal digit

In [4]:
movie['year'] = movie.title.str.extract(r'.*\((\d{4})\)', expand = True)

# Q6.(.5 point) Using seaborn, plot a bar plot of the number of movies per year. Do you see any trend?

In [2]:
# write code here.

# Q7.(1 point) Using matplotlib, plot total number of movies (cumulative over all the years) for each genre.  Your plot should have proper title, axis labels and legends.

# Q 8 (.5 point) Build a *movie_title* column containing  the title of the movie. (It should not contain year). Drop the original *title* columns. Display final movie dataFrame.

In [3]:
 # write pandas code here

# Q 9(1 point) Using seaborn, plot average number of words in a movie name over the years in different genres. You may choose to make separate plots for each genre or to make a single color coded plot as a function of years. All plots should have proper title, axis labels and legends. Write your observation in no more than 2 lines.

In [4]:
# Write your code here.