
<center> <h1> Data Ingestion and cleaning <br> Pandas I/O and Data Cleaup and Preparation

</h1></center>

In [1]:
#4.3.1.
import pandas as pd
pandas_io_tables= pd.read_html('https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html')
len(pandas_io_tables)

9

In [12]:
pandas_io_tables[0]

   Format Type       Data Description          Reader           Writer
0         text                    CSV        read_csv           to_csv
1         text  Fixed-Width Text File        read_fwf              NaN
2         text                   JSON       read_json          to_json
3         text                   HTML       read_html          to_html
4         text                  LaTeX             NaN  Styler.to_latex
5         text                    XML        read_xml           to_xml
6         text        Local clipboard  read_clipboard     to_clipboard
7       binary               MS Excel      read_excel         to_excel
8       binary           OpenDocument      read_excel              NaN
9       binary            HDF5 Format        read_hdf           to_hdf
10      binary         Feather Format    read_feather       to_feather
11      binary         Parquet Format    read_parquet       to_parquet
12      binary             ORC Format        read_orc           to_orc
13      binary                  Stata      read_stata         to_stata
14      binary                    SAS        read_sas              NaN
15      binary                   SPSS       read_spss              NaN
16      binary   Python Pickle Format     read_pickle        to_pickle
17         SQL                    SQL        read_sql           to_sql
18         SQL        Google BigQuery        read_gbq           to_gbq

# read_csv

In [14]:
import pandas as pd

In [15]:
%%bash
echo -e  "a, b, c\n1, 3, 4\n11, 44, 55\n4, 5, 23"> sample_file.txxxt

In [16]:
! ls *.txxxt

sample_file.txxxt

In [17]:
!head sample_file.txxxt
#!more sample_file.txxxt

a, b, c
1, 3, 4
11, 44, 55
4, 5, 23

This is a delimiter(comma separated) text file. So we can use pandas.read_csv

In [18]:
df= pd.read_csv('sample_file.txxxt')
df

    a   b   c
0   1   3   4
1  11  44  55
2   4   5  23

#  Earth Lab [Figshare](Figshare.com) repository.
download .csv containing monthly average precipitation for Boulder, CO

In [19]:
pd.read_csv('https://ndownloader.figshare.com/files/12710618')

   months  precip seasons
0     Jan    0.70  Winter
1     Feb    0.75  Winter
2     Mar    1.85  Spring
3     Apr    2.93  Spring
4     May    3.05  Spring
5    June    2.02  Summer
6    July    1.93  Summer
7     Aug    1.62  Summer
8    Sept    1.84    Fall
9     Oct    1.31    Fall
10    Nov    1.39    Fall
11    Dec    0.84  Winter

read_csv has lot of options, around **50** to handle complexity of  noisy csv files.

- CSV file has header missing (use **header = None** or give header names using **names = list of header names** )
- Skip some rows( use **skiprows= list of row numbers**)
- **na_values** to specify a **[ ] of NA values or a dictionary {column_name:na_value}**

In [20]:
%%bash
echo -e  "11, 233, 123\n1, 3, 4\n11, 44, 55\n4, 5, 23"> sample_file_no_header.txxxt
cat sample_file_no_header.txxxt

11, 233, 123
1, 3, 4
11, 44, 55
4, 5, 23

In [21]:
pd.read_csv('sample_file_no_header.txxxt', header= None)

    0    1    2
0  11  233  123
1   1    3    4
2  11   44   55
3   4    5   23

In [22]:
pd.read_csv('sample_file_no_header.txxxt', names= list('abc'))

    a    b    c
0  11  233  123
1   1    3    4
2  11   44   55
3   4    5   23

# read_table with regular expressions
example from the book

In [23]:
%%bash
echo -e '            A         B         C\n
 aaa -0.264438 -1.026059 -0.619500\n
 bbb  0.927272  0.302904 -0.032399\n
 ccc -0.264273 -0.386314 -0.217601\n
 ddd -0.871858 -0.348382  1.100491\n' > sample_file_variable_space.txxxt

In [24]:
!cat sample_file_variable_space.txxxt
#!more sample_file_variable_space.txxxt

            A         B         C

 aaa -0.264438 -1.026059 -0.619500

 bbb  0.927272  0.302904 -0.032399

 ccc -0.264273 -0.386314 -0.217601

 ddd -0.871858 -0.348382  1.100491

In [29]:
# What regex we should put in sep
pd.read_table('sample_file_variable_space.txxxt', sep='\s+')

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

# or read_csv

In [30]:
pd.read_csv('sample_file_variable_space.txxxt',sep='\s+')

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

# Reading Text Files in Pieces

Let us dowload iris dataset form uci machine learning repository

In [3]:
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data
#!curl -O https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data

--2024-01-20 17:31:39--  https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified
Saving to: ‘iris.data.2’

iris.data.2             [ <=>                ]   4.44K  --.-KB/s    in 0s

2024-01-20 17:31:40 (15.7 MB/s) - ‘iris.data.2’ saved [4551]

In [4]:
!head iris.data
#!more +140 iris.data

5.1,3.5,1.4,0.2,Iris-setosa
4.9,3.0,1.4,0.2,Iris-setosa
4.7,3.2,1.3,0.2,Iris-setosa
4.6,3.1,1.5,0.2,Iris-setosa
5.0,3.6,1.4,0.2,Iris-setosa
5.4,3.9,1.7,0.4,Iris-setosa
4.6,3.4,1.4,0.3,Iris-setosa
5.0,3.4,1.5,0.2,Iris-setosa
4.4,2.9,1.4,0.2,Iris-setosa
4.9,3.1,1.5,0.1,Iris-setosa

Attribute Information:
   1. sepal length in cm
   2. sepal width in cm
   3. petal length in cm
   4. petal width in cm
   5. class: 
      -- Iris Setosa
      -- Iris Versicolour
      -- Iris Virginica

In [5]:
%%bash 
columns="sepal_length,sepal_width,petal_length,petal_width,class"
echo "$columns"| cat - iris.data > iris.csv

In [6]:
!head iris.csv
#!more iris.csv

sepal_length,sepal_width,petal_length,petal_width,class
5.1,3.5,1.4,0.2,Iris-setosa
4.9,3.0,1.4,0.2,Iris-setosa
4.7,3.2,1.3,0.2,Iris-setosa
4.6,3.1,1.5,0.2,Iris-setosa
5.0,3.6,1.4,0.2,Iris-setosa
5.4,3.9,1.7,0.4,Iris-setosa
4.6,3.4,1.4,0.3,Iris-setosa
5.0,3.4,1.5,0.2,Iris-setosa
4.4,2.9,1.4,0.2,Iris-setosa

In [7]:
#Linux not Windows Command Prompt
!wc -w iris.csv

151 iris.csv

Let's say this file is big and can't fit in memory. We can use **read_csv** with **chunksize** option.

Typically a summarization is performed in chunk to perform overall summarization.

In [9]:
#DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
#  flower_by_type = pd.Series([])

import pandas as pd

chunks = pd.read_csv('iris.csv', chunksize=20)
print('type of chunks is {}'.format(type(chunks)))
total_sepal_length = 0
num_examples = 0
flower_by_type = pd.Series([])
for chunk in chunks:
    #??? check the type of chunk
    print('type of chunk is {}'.format(type(chunk)))
    total_sepal_length += chunk['sepal_length'].sum()
    num_examples+= chunk.shape[0]
    print('shape {}'.format(chunk.shape))
    
total_sepal_length/num_examples

type of chunks is <class 'pandas.io.parsers.TextFileReader'>
type of chunk is <class 'pandas.core.frame.DataFrame'>
shape (20, 5)
type of chunk is <class 'pandas.core.frame.DataFrame'>
shape (20, 5)
type of chunk is <class 'pandas.core.frame.DataFrame'>
shape (20, 5)
type of chunk is <class 'pandas.core.frame.DataFrame'>
shape (20, 5)
type of chunk is <class 'pandas.core.frame.DataFrame'>
shape (20, 5)
type of chunk is <class 'pandas.core.frame.DataFrame'>
shape (20, 5)
type of chunk is <class 'pandas.core.frame.DataFrame'>
shape (20, 5)
type of chunk is <class 'pandas.core.frame.DataFrame'>
shape (10, 5)

/tmp/ipykernel_632/3682608659.py:10: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  flower_by_type = pd.Series([])

5.843333333333334

let's verify this

In [10]:
iris_df = pd.read_csv('iris.csv')
iris_df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

# Writing/converting data
use **to_** methods like
- to_csv
- to_pickle
- to_sql
- to_latex
- to_html
- to_excel
.
.
.

@TODO to_latex functionality

## 4.4
## reading html tables from webpages

In [4]:
# This would be the beginning of 4.4. However, the tables have been changed.
import pandas as pd
tables = pd.read_html('https://en.wikipedia.org/wiki/Malnutrition', header=0)

In [5]:
tables[2]

,Degree of PEM,% of desired body weight for age and sex,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,Normal,90–100%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Mild: Grade I (1st degree),75–89%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Moderate: Grade II (2nd degree),60–74%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Severe: Grade III (3rd degree),<60%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"SOURCE:""Serum Total Protein and Albumin Levels...","SOURCE:""Serum Total Protein and Albumin Levels...","SOURCE:""Serum Total Protein and Albumin Levels...","SOURCE:""Serum Total Protein and Albumin Levels...","SOURCE:""Serum Total Protein and Albumin Levels...","SOURCE:""Serum Total Protein and Albumin Levels...","SOURCE:""Serum Total Protein and Albumin Levels...","SOURCE:""Serum Total Protein and Albumin Levels...","SOURCE:""Serum Total Protein and Albumin Levels...","SOURCE:""Serum Total Protein and Albumin Levels...","SOURCE:""Serum Total Protein and Albumin Levels...","SOURCE:""Serum Total Protein and Albumin Levels...","SOURCE:""Serum Total Protein and Albumin Levels...","SOURCE:""Serum Total Protein and Albumin Levels...","SOURCE:""Serum Total Protein and Albumin Levels...","SOURCE:""Serum Total Protein and Albumin Levels..."

## Extracting text from pdf files
## pdfminer as well as tabula seem to have been deprecated
## Please skip the rest of lecture 4.4.1.
## Feel free to look at handling of JSON data below.
## Otherwise, skip to Binary dataformat,  cell [46]

#  Handling JSON data
- Use pd.read_json to read json file
- use inbult json (loads, dumps) to handle json string and python object

In [11]:
iris_str_data = iris_df.to_json()
iris_str_data

'{"sepal_length":{"0":5.1,"1":4.9,"2":4.7,"3":4.6,"4":5.0,"5":5.4,"6":4.6,"7":5.0,"8":4.4,"9":4.9,"10":5.4,"11":4.8,"12":4.8,"13":4.3,"14":5.8,"15":5.7,"16":5.4,"17":5.1,"18":5.7,"19":5.1,"20":5.4,"21":5.1,"22":4.6,"23":5.1,"24":4.8,"25":5.0,"26":5.0,"27":5.2,"28":5.2,"29":4.7,"30":4.8,"31":5.4,"32":5.2,"33":5.5,"34":4.9,"35":5.0,"36":5.5,"37":4.9,"38":4.4,"39":5.1,"40":5.0,"41":4.5,"42":4.4,"43":5.0,"44":5.1,"45":4.8,"46":5.1,"47":4.6,"48":5.3,"49":5.0,"50":7.0,"51":6.4,"52":6.9,"53":5.5,"54":6.5,"55":5.7,"56":6.3,"57":4.9,"58":6.6,"59":5.2,"60":5.0,"61":5.9,"62":6.0,"63":6.1,"64":5.6,"65":6.7,"66":5.6,"67":5.8,"68":6.2,"69":5.6,"70":5.9,"71":6.1,"72":6.3,"73":6.1,"74":6.4,"75":6.6,"76":6.8,"77":6.7,"78":6.0,"79":5.7,"80":5.5,"81":5.5,"82":5.8,"83":6.0,"84":5.4,"85":6.0,"86":6.7,"87":6.3,"88":5.6,"89":5.5,"90":5.5,"91":6.1,"92":5.8,"93":5.0,"94":5.6,"95":5.7,"96":5.7,"97":6.2,"98":5.1,"99":5.7,"100":6.3,"101":5.8,"102":7.1,"103":6.3,"104":6.5,"105":7.6,"106":4.9,"107":7.3,"108":6.7,"109":7.2,"110":6.5,"111":6.4,"112":6.8,"113":5.7,"114":5.8,"115":6.4,"116":6.5,"117":7.7,"118":7.7,"119":6.0,"120":6.9,"121":5.6,"122":7.7,"123":6.3,"124":6.7,"125":7.2,"126":6.2,"127":6.1,"128":6.4,"129":7.2,"130":7.4,"131":7.9,"132":6.4,"133":6.3,"134":6.1,"135":7.7,"136":6.3,"137":6.4,"138":6.0,"139":6.9,"140":6.7,"141":6.9,"142":5.8,"143":6.8,"144":6.7,"145":6.7,"146":6.3,"147":6.5,"148":6.2,"149":5.9},"sepal_width":{"0":3.5,"1":3.0,"2":3.2,"3":3.1,"4":3.6,"5":3.9,"6":3.4,"7":3.4,"8":2.9,"9":3.1,"10":3.7,"11":3.4,"12":3.0,"13":3.0,"14":4.0,"15":4.4,"16":3.9,"17":3.5,"18":3.8,"19":3.8,"20":3.4,"21":3.7,"22":3.6,"23":3.3,"24":3.4,"25":3.0,"26":3.4,"27":3.5,"28":3.4,"29":3.2,"30":3.1,"31":3.4,"32":4.1,"33":4.2,"34":3.1,"35":3.2,"36":3.5,"37":3.1,"38":3.0,"39":3.4,"40":3.5,"41":2.3,"42":3.2,"43":3.5,"44":3.8,"45":3.0,"46":3.8,"47":3.2,"48":3.7,"49":3.3,"50":3.2,"51":3.2,"52":3.1,"53":2.3,"54":2.8,"55":2.8,"56":3.3,"57":2.4,"58":2.9,"59":2.7,"60":2.0,"61":3.0,"62":2.2,"63":2.9,"64":2.9,"65":3.1,"66":3.0,"67":2.7,"68":2.2,"69":2.5,"70":3.2,"71":2.8,"72":2.5,"73":2.8,"74":2.9,"75":3.0,"76":2.8,"77":3.0,"78":2.9,"79":2.6,"80":2.4,"81":2.4,"82":2.7,"83":2.7,"84":3.0,"85":3.4,"86":3.1,"87":2.3,"88":3.0,"89":2.5,"90":2.6,"91":3.0,"92":2.6,"93":2.3,"94":2.7,"95":3.0,"96":2.9,"97":2.9,"98":2.5,"99":2.8,"100":3.3,"101":2.7,"102":3.0,"103":2.9,"104":3.0,"105":3.0,"106":2.5,"107":2.9,"108":2.5,"109":3.6,"110":3.2,"111":2.7,"112":3.0,"113":2.5,"114":2.8,"115":3.2,"116":3.0,"117":3.8,"118":2.6,"119":2.2,"120":3.2,"121":2.8,"122":2.8,"123":2.7,"124":3.3,"125":3.2,"126":2.8,"127":3.0,"128":2.8,"129":3.0,"130":2.8,"131":3.8,"132":2.8,"133":2.8,"134":2.6,"135":3.0,"136":3.4,"137":3.1,"138":3.0,"139":3.1,"140":3.1,"141":3.1,"142":2.7,"143":3.2,"144":3.3,"145":3.0,"146":2.5,"147":3.0,"148":3.4,"149":3.0},"petal_length":{"0":1.4,"1":1.4,"2":1.3,"3":1.5,"4":1.4,"5":1.7,"6":1.4,"7":1.5,"8":1.4,"9":1.5,"10":1.5,"11":1.6,"12":1.4,"13":1.1,"14":1.2,"15":1.5,"16":1.3,"17":1.4,"18":1.7,"19":1.5,"20":1.7,"21":1.5,"22":1.0,"23":1.7,"24":1.9,"25":1.6,"26":1.6,"27":1.5,"28":1.4,"29":1.6,"30":1.6,"31":1.5,"32":1.5,"33":1.4,"34":1.5,"35":1.2,"36":1.3,"37":1.5,"38":1.3,"39":1.5,"40":1.3,"41":1.3,"42":1.3,"43":1.6,"44":1.9,"45":1.4,"46":1.6,"47":1.4,"48":1.5,"49":1.4,"50":4.7,"51":4.5,"52":4.9,"53":4.0,"54":4.6,"55":4.5,"56":4.7,"57":3.3,"58":4.6,"59":3.9,"60":3.5,"61":4.2,"62":4.0,"63":4.7,"64":3.6,"65":4.4,"66":4.5,"67":4.1,"68":4.5,"69":3.9,"70":4.8,"71":4.0,"72":4.9,"73":4.7,"74":4.3,"75":4.4,"76":4.8,"77":5.0,"78":4.5,"79":3.5,"80":3.8,"81":3.7,"82":3.9,"83":5.1,"84":4.5,"85":4.5,"86":4.7,"87":4.4,"88":4.1,"89":4.0,"90":4.4,"91":4.6,"92":4.0,"93":3.3,"94":4.2,"95":4.2,"96":4.2,"97":4.3,"98":3.0,"99":4.1,"100":6.0,"101":5.1,"102":5.9,"103":5.6,"104":5.8,"105":6.6,"106":4.5,"107":6.3,"108":5.8,"109":6.1,"110":5.1,"111":5.3,"112":5.5,"113":5.0,"114":5.1,"115":5.3,"116":5.5,"117":6.7,"118":6.9,"119":5.0,"120":5.7,"121":4.9,"122":6.7,"123":4.9,"124":5.7,"125":6.0,"126":4.8,"127":4.9,"128":5.6,"129":5.8,"130":6.1,"131":6.4,"132":5.6,"133":5.1,"134":5.6,"135":6.1,"136":5.6,"137":5.5,"138":4.8,"139":5.4,"140":5.6,"141":5.1,"142":5.1,"143":5.9,"144":5.7,"145":5.2,"146":5.0,"147":5.2,"148":5.4,"149":5.1},"petal_width":{"0":0.2,"1":0.2,"2":0.2,"3":0.2,"4":0.2,"5":0.4,"6":0.3,"7":0.2,"8":0.2,"9":0.1,"10":0.2,"11":0.2,"12":0.1,"13":0.1,"14":0.2,"15":0.4,"16":0.4,"17":0.3,"18":0.3,"19":0.3,"20":0.2,"21":0.4,"22":0.2,"23":0.5,"24":0.2,"25":0.2,"26":0.4,"27":0.2,"28":0.2,"29":0.2,"30":0.2,"31":0.4,"32":0.1,"33":0.2,"34":0.1,"35":0.2,"36":0.2,"37":0.1,"38":0.2,"39":0.2,"40":0.3,"41":0.3,"42":0.2,"43":0.6,"44":0.4,"45":0.3,"46":0.2,"47":0.2,"48":0.2,"49":0.2,"50":1.4,"51":1.5,"52":1.5,"53":1.3,"54":1.5,"55":1.3,"56":1.6,"57":1.0,"58":1.3,"59":1.4,"60":1.0,"61":1.5,"62":1.0,"63":1.4,"64":1.3,"65":1.4,"66":1.5,"67":1.0,"68":1.5,"69":1.1,"70":1.8,"71":1.3,"72":1.5,"73":1.2,"74":1.3,"75":1.4,"76":1.4,"77":1.7,"78":1.5,"79":1.0,"80":1.1,"81":1.0,"82":1.2,"83":1.6,"84":1.5,"85":1.6,"86":1.5,"87":1.3,"88":1.3,"89":1.3,"90":1.2,"91":1.4,"92":1.2,"93":1.0,"94":1.3,"95":1.2,"96":1.3,"97":1.3,"98":1.1,"99":1.3,"100":2.5,"101":1.9,"102":2.1,"103":1.8,"104":2.2,"105":2.1,"106":1.7,"107":1.8,"108":1.8,"109":2.5,"110":2.0,"111":1.9,"112":2.1,"113":2.0,"114":2.4,"115":2.3,"116":1.8,"117":2.2,"118":2.3,"119":1.5,"120":2.3,"121":2.0,"122":2.0,"123":1.8,"124":2.1,"125":1.8,"126":1.8,"127":1.8,"128":2.1,"129":1.6,"130":1.9,"131":2.0,"132":2.2,"133":1.5,"134":1.4,"135":2.3,"136":2.4,"137":1.8,"138":1.8,"139":2.1,"140":2.4,"141":2.3,"142":1.9,"143":2.3,"144":2.5,"145":2.3,"146":1.9,"147":2.0,"148":2.3,"149":1.8},"class":{"0":"Iris-setosa","1":"Iris-setosa","2":"Iris-setosa","3":"Iris-setosa","4":"Iris-setosa","5":"Iris-setosa","6":"Iris-setosa","7":"Iris-setosa","8":"Iris-setosa","9":"Iris-setosa","10":"Iris-setosa","11":"Iris-setosa","12":"Iris-setosa","13":"Iris-setosa","14":"Iris-setosa","15":"Iris-setosa","16":"Iris-setosa","17":"Iris-setosa","18":"Iris-setosa","19":"Iris-setosa","20":"Iris-setosa","21":"Iris-setosa","22":"Iris-setosa","23":"Iris-setosa","24":"Iris-setosa","25":"Iris-setosa","26":"Iris-setosa","27":"Iris-setosa","28":"Iris-setosa","29":"Iris-setosa","30":"Iris-setosa","31":"Iris-setosa","32":"Iris-setosa","33":"Iris-setosa","34":"Iris-setosa","35":"Iris-setosa","36":"Iris-setosa","37":"Iris-setosa","38":"Iris-setosa","39":"Iris-setosa","40":"Iris-setosa","41":"Iris-setosa","42":"Iris-setosa","43":"Iris-setosa","44":"Iris-setosa","45":"Iris-setosa","46":"Iris-setosa","47":"Iris-setosa","48":"Iris-setosa","49":"Iris-setosa","50":"Iris-versicolor","51":"Iris-versicolor","52":"Iris-versicolor","53":"Iris-versicolor","54":"Iris-versicolor","55":"Iris-versicolor","56":"Iris-versicolor","57":"Iris-versicolor","58":"Iris-versicolor","59":"Iris-versicolor","60":"Iris-versicolor","61":"Iris-versicolor","62":"Iris-versicolor","63":"Iris-versicolor","64":"Iris-versicolor","65":"Iris-versicolor","66":"Iris-versicolor","67":"Iris-versicolor","68":"Iris-versicolor","69":"Iris-versicolor","70":"Iris-versicolor","71":"Iris-versicolor","72":"Iris-versicolor","73":"Iris-versicolor","74":"Iris-versicolor","75":"Iris-versicolor","76":"Iris-versicolor","77":"Iris-versicolor","78":"Iris-versicolor","79":"Iris-versicolor","80":"Iris-versicolor","81":"Iris-versicolor","82":"Iris-versicolor","83":"Iris-versicolor","84":"Iris-versicolor","85":"Iris-versicolor","86":"Iris-versicolor","87":"Iris-versicolor","88":"Iris-versicolor","89":"Iris-versicolor","90":"Iris-versicolor","91":"Iris-versicolor","92":"Iris-versicolor","93":"Iris-versicolor","94":"Iris-versicolor","95":"Iris-versicolor","96":"Iris-versicolor","97":"Iris-versicolor","98":"Iris-versicolor","99":"Iris-versicolor","100":"Iris-virginica","101":"Iris-virginica","102":"Iris-virginica","103":"Iris-virginica","104":"Iris-virginica","105":"Iris-virginica","106":"Iris-virginica","107":"Iris-virginica","108":"Iris-virginica","109":"Iris-virginica","110":"Iris-virginica","111":"Iris-virginica","112":"Iris-virginica","113":"Iris-virginica","114":"Iris-virginica","115":"Iris-virginica","116":"Iris-virginica","117":"Iris-virginica","118":"Iris-virginica","119":"Iris-virginica","120":"Iris-virginica","121":"Iris-virginica","122":"Iris-virginica","123":"Iris-virginica","124":"Iris-virginica","125":"Iris-virginica","126":"Iris-virginica","127":"Iris-virginica","128":"Iris-virginica","129":"Iris-virginica","130":"Iris-virginica","131":"Iris-virginica","132":"Iris-virginica","133":"Iris-virginica","134":"Iris-virginica","135":"Iris-virginica","136":"Iris-virginica","137":"Iris-virginica","138":"Iris-virginica","139":"Iris-virginica","140":"Iris-virginica","141":"Iris-virginica","142":"Iris-virginica","143":"Iris-virginica","144":"Iris-virginica","145":"Iris-virginica","146":"Iris-virginica","147":"Iris-virginica","148":"Iris-virginica","149":"Iris-virginica"}}'

use json(part of python standard library) to handle json related functionality

## Deserialize  str data to python object

In [12]:
import json
# Let's Deserialize iris_str_data
iris = json.loads(iris_str_data)
print(type(iris))
iris.keys()

<class 'dict'>

dict_keys(['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'class'])

## Convert python data to JSON

In [45]:
iris_json_obj = json.dumps(iris)
print(type(iris_json_obj))

<class 'str'>

# Binary dataformat (4.4.2)
- pickle.
- HDF5 (hierarchical data format) Format. 
    + Useful for large amounts of data in a data science/machine learning project. Allows efficient read and write for a small portion of data. Relavent portion of data can be pulled into memory very fast (**some kind of queue mechanism**).

There are libraries in python(h5py) to handle hdf5 files, but pandas has **HDFStore** interface.

In [14]:
# may have install tables. 
#pip install --upgrade tables
import pandas as pd
import seaborn
iris_h5_store = pd.HDFStore('iris_data.h5')
iris_h5_store

<class 'pandas.io.pytables.HDFStore'>
File path: iris_data.h5

In [15]:
import seaborn
iris_df=seaborn.load_dataset('iris')
iris_df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [16]:
iris_h5_store['iris_class'] = iris_df['species'] 
iris_h5_store['iris_class']

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

In [17]:
iris_h5_store.close()

To allow searching use format = 'table'

In [19]:
iris_df.to_hdf('iris.h5', 'iris_table', format= 'table')

In [21]:
pd.read_hdf('iris.h5', 'iris_table', columns= ['sepal_length', 'species']).head()

   sepal_length species
0           5.1  setosa
1           4.9  setosa
2           4.7  setosa
3           4.6  setosa
4           5.0  setosa

In [22]:
#this will not work, as illustrated in the lecture
pd.read_hdf('iris.h5', 'iris_table', where = ['sepal_length<5.0'])

ValueError: The passed where expression: [sepal_length<5.0]
            contains an invalid variable reference
            all of the variable references must be a reference to
            an axis (e.g. 'index' or 'columns'), or a data_column
            The currently defined references are: index,columns

In [23]:
pd.read_hdf('iris.h5', 'iris_table', where = ['index < 10'])

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa
7           5.0          3.4           1.5          0.2  setosa
8           4.4          2.9           1.4          0.2  setosa
9           4.9          3.1           1.5          0.1  setosa

In [24]:
iris_df.to_hdf('iris.h5', 'iris_table', format= 'table', data_columns=['sepal_length', 'species'])

In [25]:
pd.read_hdf('iris.h5', 'iris_table', where = ['sepal_length<5.0'])
#end of week 4

     sepal_length  sepal_width  petal_length  petal_width     species
1             4.9          3.0           1.4          0.2      setosa
2             4.7          3.2           1.3          0.2      setosa
3             4.6          3.1           1.5          0.2      setosa
6             4.6          3.4           1.4          0.3      setosa
8             4.4          2.9           1.4          0.2      setosa
9             4.9          3.1           1.5          0.1      setosa
11            4.8          3.4           1.6          0.2      setosa
12            4.8          3.0           1.4          0.1      setosa
13            4.3          3.0           1.1          0.1      setosa
22            4.6          3.6           1.0          0.2      setosa
24            4.8          3.4           1.9          0.2      setosa
29            4.7          3.2           1.6          0.2      setosa
30            4.8          3.1           1.6          0.2      setosa
34            4.9          3.1           1.5          0.2      setosa
37            4.9          3.6           1.4          0.1      setosa
38            4.4          3.0           1.3          0.2      setosa
41            4.5          2.3           1.3          0.3      setosa
42            4.4          3.2           1.3          0.2      setosa
45            4.8          3.0           1.4          0.3      setosa
47            4.6          3.2           1.4          0.2      setosa
57            4.9          2.4           3.3          1.0  versicolor
106           4.9          2.5           4.5          1.7   virginica